extends global

block content
  #content-container.container-fluid
    table.table
      thead
        tr.border-bottom.border-dark
          th Commit
          th Universe
          th Package
          th Version
          th Maintainer
          th Vignettes
          th.text-nowrap R-4.6 | R-4.5 | R-4.4
      tbody
        each x in packages
          tr
            td.text-nowrap #{x.date}
            td
              a.text-secondary(href=`https://${x.user}.r-universe.dev`) #{x.user}
            td
              if x.src.status && x.registered !== false
                a.fw-semibold(href=`https://${x.user}.r-universe.dev/${x.package}`) #{x.package}
              else
                | #{x.package}
              if x.failure
                a.ms-1.text-danger.fw-semibold(href=`${x.failure.url}` target='_blank') (build failure)
            td
              a.text-dark(href=`${x.upstream}/commit/${x.commit}` target='_blank') #{x.version}
            td
              if x.maintainerlogin
                a.text-secondary(href=`https://${x.maintainerlogin}.r-universe.dev/`) #{x.maintainer}
              else
                span.text-secondary #{x.maintainer}
            td
              if x.src.status
                a(href=x.src.url target='_blank' class=`${x.src.status == 'success' ? "text-success" : "text-danger"}`).noline
                  i.fa-fw.fa-solid.fa-box-archive
            td
              a(href=x.src.url target='_blank').text-secondary.noline
                | !{x.check_icon_html('4.6', 'linux')}
                | !{x.check_icon_html('4.6', 'win')}
                | !{x.check_icon_html('4.6', 'mac')}
                | |
                | !{x.check_icon_html('4.5', 'win')}
                | !{x.check_icon_html('4.5', 'mac')}
                | |
                | !{x.check_icon_html('4.4', 'win')}

block after_head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css')

block after_scripts
  script(src='https://cdn.datatables.net/2.1.3/js/dataTables.min.js')
  script
    include updates.js
