extends global

block content
  #content-container.container-fluid
    table.table.d-none
      thead
        tr.border-bottom.border-dark
          th Package
          th Score
          th Stars
          th Downloads
          th Scripts
          th Dependents
          th Contributors
          th Vignettes
          th Datasets
          th Releases
          th Commits/year
      tbody
        each x in packages
          tr
            th
              a(href=`https://${x.universe}.r-universe.dev/${x.package}`) #{x.package}
            td #{Math.pow(x.score-1, 2).toFixed(2)}
            td #{x.stars}
            td #{x.downloads}
            td #{x.scripts}
            td #{x.dependents}
            td #{x.contributors}
            td #{x.vignettes}
            td #{x.datasets}
            td #{x.releases}
            td #{x.commits}

block after_scripts
  script(src='https://cdn.datatables.net/2.1.3/js/dataTables.min.js')
  script
    include scores.js
