extends layout

block content
  .card.mb-4
    h2.h5.card-title.card-header.text-center.text-dark Packages API
    .card-body
      .row.mb-3
        #api-packages-url.input-group
          input.form-control.bg-light(type='text' readonly='')
          a.btn.btn-primary(target='_blank') Open
        small.form-text.text-muted Information about packages in this universe
      .row.g-3.mb-3
        .col-md-6
          select#api-packages-package.form-control.form-select.form-select-sm
            option(value='') All packages (JSON format)
            option(value='?stream=1') All packages (NDJSON stream)
            each x in pkgdata
              option #{x.Package}

  .card.mb-4
    h2.h5.card-title.card-header.text-center.text-dark Datasets API
    .card-body
      .row.mb-3
        #api-dataset-url.input-group
          input.form-control.bg-light(type='text' readonly='')
          a.btn.btn-primary(target='_blank') Download
        small.form-text.text-muted Export datasets to various formats
      .row.g-3.mb-3
        .col-md-6
          select#api-dataset-data.form-control.form-select.form-select-sm(placeholder='Select dataset')
            each x in pkgdata
              if x._datasets
                each data in x._datasets
                  option(data-package=x.Package, data-name=data.name) #{x.Package}::#{data.name} (#{data.class[0]})
        .col-md-6
          select#api-dataset-format.form-control.form-select.form-select-sm
            option csv
            option xlsx
            option json
            option ndjson
            option(value='rda') RData
            option rds

  .card.mb-4
    h2.h5.card-title.card-header.text-center.text-dark Snapshot API
    .card-body
      .row.mb-3
        #api-snapshot-url.input-group
          input.form-control.bg-light(type='text' readonly='')
          a.btn.btn-primary(target='_blank') Download
        small.form-text.text-muted Download a full copy of the cran-like repository with docs to mirror or backup.
      #snapshot-form.row.mb3
        .col-sm
          label Optional filters (defaults include everything):
        fieldset.col-sm
          .form-check
            input#form-types-src.form-check-input(name='types' type='checkbox' value='src')
            label.form-check-label(for='form-types-src') Source packages
          .form-check
            input#form-types-win.form-check-input(name='types' type='checkbox' value='win')
            label.form-check-label(for='form-types-win') Windows binaries
          .form-check
            input#form-types-mac.form-check-input(name='types' type='checkbox' value='mac')
            label.form-check-label(for='form-types-mac') MacOS binaries
          .form-check
            input#form-types-linux.form-check-input(name='types' type='checkbox' value='linux')
            label.form-check-label(for='form-types-linux') Linux binaries
          .form-check
            input#form-types-wasm.form-check-input(name='types' type='checkbox' value='wasm')
            label.form-check-label(for='form-types-wasm') WebAssembly binaries
          .form-check
            input#form-types-docs.form-check-input(name='types' type='checkbox' value='docs')
            label.form-check-label(for='form-types-docs') Package docs
        fieldset.col-sm
          .form-check
            input.form-check-input(name='binaries' type='checkbox' value='4.4' id='form-binaries-4.3')
            label.form-check-label(for='form-binaries-4.3') Binaries for R-4.4
          .form-check
            input.form-check-input(name='binaries' type='checkbox' value='4.3' id='form-binaries-4.2')
            label.form-check-label(for='form-binaries-4.2') Binaries for R-4.3
        fieldset.col-sm
          select#api-snapshot-packages.form-control(multiple='' size='10')
            each x in pkgdata
              option #{x.Package}

block after_scripts
  script(src='apis.js')
