extends layout

block content
  if _indexed === false
    .alert.alert-warning(role="alert")
      if _indexurl
        i.pe-1.fa-solid.fa-triangle-exclamation
        | This package is considered a duplicate. The official version of this package is found at:
        a.alert-link.ps-1(href=_indexurl) #{_indexurl}
      else
        | This package is hidden from search results because it is not hosted in the universe of the upstream owner
        code.ps-1 #{_owner}
        | . See also the
        a.alert-link.ps-1(href='https://docs.r-universe.dev/browse/search.html#deduplication') R-universe documentation
        | .

  .pl-3.pt-1
    h1#article-title.title.text-center.fst-italic #{article.title}
    p.text-end
      | Authored by:
      if article.author
        span.ms-1 #{article.author}
      else if _maintainer.login
        a.ms-1(href=`https://${_maintainer.login}.r-universe.dev`) #{_maintainer.name}
      else
        span.ms-1 #{_maintainer.name}
      |  in
      a.ms-1(href=`/${Package}`) #{Package} #{Version}
      | .
      br
      | Source:
      a.ms-1(href=`/${Package}/doc/${article.source}` target='_blank') #{article.source}
      | , Vignette:
      a.ms-1(href=`/${Package}/doc/${article.filename}` target='_blank') #{article.filename}
      | . Last updated:
      code.ms-1 #{format_yymmdd(article.modified)}
      | .
    #article-placeholder.float-end
      span.spinner-grow.spinner-grow-sm(role='status')
      |  Loading article...
    iframe#viewerframe(scrolling='no' name='viewerframe' src=`/${Package}/doc/${article.filename}`)

block before_scripts
  script
    include includes/article-iframe-inline.js

block after_scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.1/iframeResizer.min.js")
  script
    | iFrameResize({ log: false, checkOrigin: false, warningTimeout: 0 }, '#viewerframe');
