extends layout

block content
  .pl-3.pt-1
    h1#article-title.title.text-center.display-6 #{article.title}
    p.text-end
      | Authored by:
      if article.author
        span.ms-1 #{article.author}
      else if _maintainer.login
        a.ms-1(href=`https://${_maintainer.login}.r-universe.dev`) #{_maintainer.name}
      else
        span.ms-1 #{_maintainer.name}
      |  in
      a.ms-1(href=`/${Package}`) #{Package} #{Version}
      | .
      br
      | Source:
      a.ms-1(href=`/${Package}/doc/${article.source}` target='_blank') #{article.source}
      | , Vignette:
      a.ms-1(href=`/${Package}/doc/${article.filename}` target='_blank') #{article.filename}
      | . Last updated:
      code.ms-1 #{format_yymmdd(article.modified)}
      | .
    #article-placeholder.float-end
      span.spinner-grow.spinner-grow-sm(role='status')
      |  Loading article...
    iframe#viewerframe(scrolling='no' name='viewerframe' src=`/${Package}/doc/${article.filename}`)

block before_scripts
  script
    include includes/article-iframe-inline.js

block after_scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.1/iframeResizer.min.js")
  script
    | iFrameResize({ log: false, checkOrigin: false, warningTimeout: 0 }, '#viewerframe');
