extends layout

block content
  .row
    .col-12.px-3.d-none.d-lg-block(style="max-height: 300px")
      canvas#activity-canvas.col.p-0(height='300')
    .col-12.table-responsive
      table.table.table-sm.compact
        thead
          tr
            th.text-nowrap(scope='col') Commit
            th(scope='col') Package
            th(scope='col') Version
            th(scope='col') Maintainer
            if universe == 'ropensci'
              th#thdocs(scope='col') Docs
            th(scope='col') Src
            th.text-nowrap(scope='col') Binaries
            th.d-none.d-xl-table-cell.text-nowrap(scope='col') Last build
        tbody#packages-table-body
          each row in pkgdata
            tr
              td.text-nowrap #{format_yymmdd(row._commit.time*1000)}
              td
                if row._type === 'failure'
                  | #{row.Package}
                else if row._user === universe && row._owner === universe
                  a(href=`/${row.Package}`) #{row.Package}
                else if row._user === universe
                  a(href=`/${row.Package}`) #{row._owner}/#{row.Package}
                else
                  a(href=`https://${row._user}.r-universe.dev/${row.Package}`) #{row._user}/#{row.Package}
                if row._registered === false
                  small.fw-medium.ms-1 (via remote)
                if row.OS_type
                  small.fw-medium.ms-1 (#{row.OS_type} only)
                if row._failure
                  a(href=row._failure.buildurl)
                    small.fw-bold.ms-1.text-danger (build failure)
              td
                a.text-dark(href=`${row._upstream}/commit/${row._commit.id}` target='_blank') #{row.Version}
              td
                if row._maintainer.login
                  a.text-dark(href=`https://${row._maintainer.login}.r-universe.dev`) #{row._maintainer.name}
                else
                  span.text-secondary #{row._maintainer.name}
              if universe == 'ropensci'
                td
                  if row._pkgdocs === 'skipped'
                    span.ms-1 –
                  else if row._pkgdocs === 'success'
                    a.ms-1(href=`https://docs.ropensci.org/${row.Package}` target='_blank')
                      i.fa.fa-book.color_ok
                  else
                    a.ms-1(href=row._buildurl target='_blank')
                      i.fa.fa-book.color_bad
              td
                a(href = row._buildurl)
                  if row._status && row._status.match(/succ/i)
                    i.fa-fw.fa-solid.fa-box-archive.color_ok
                  else
                    i.fa-fw.fa-solid.fa-box-archive.color_bad

              td.text-nowrap
                a(href = row._buildurl)
                  if row._linuxdevel === 'success'
                    i.fa-fw.fab.fa-linux.color_ok
                  else if  row._linuxdevel === 'failure'
                    i.fa-fw.fab.fa-linux.color_bad
                  else if row._linuxdevel === 'skipped'
                    i.fa-fw.fa-solid.fa-minus.color_meh
                  else
                    i.fa-fw.fa-solid.fa-xmark.color_bad

                  if row._winbinary === 'success'
                    i.fa-fw.fab.fa-windows.color_ok
                  else if row._winbinary == 'failure'
                    i.fa-fw.fab.fa-windows.color_bad
                  else if row._winbinary === 'skipped' || row.OS_type === 'unix'
                    i.fa-fw.fa-solid.fa-minus.color_meh
                  else
                    i.fa-fw.fa-solid.fa-xmark.color_bad

                  if row._macbinary === 'success'
                    i.fa-fw.fab.fa-apple.color_ok
                  else if row._macbinary === 'failure'
                    i.fa-fw.fab.fa-apple.color_bad
                  else if row._macbinary === 'arm64-failure'
                    i.fa-fw.fab.fa-apple.color_bad
                  else if row._macbinary === 'skipped'
                    i.fa-fw.fa-solid.fa-minus.color_meh
                  else
                    i.fa-fw.fa-solid.fa-xmark.color_bad

                  if row._wasmbinary === 'success'
                    i.fa-fw.fab.fa-chrome.color_ok
                  else
                    i.fa-fw.fab.fa-chrome.color_meh

                  if !all_ok(row)
                    a.text-decoration-none.retry-button.mx-3.fa.fa-sync-alt.d-none.d-xl-inline(href=row._buildurl data-retry-url=retry_url(row), data-pkgver=`${row.Package} ${row.Version}`)
              td.text-nowrap.d-none.d-xl-table-cell #{format_yymmdd(row._created)}

block after_scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js')
  script(src='builds.js')