extends layout

block content
  .row
    .col-12.p-0.d-none.d-lg-block(style="max-height: 300px")
      canvas#activity-canvas.col.p-0(height='300')
    .col-12.table-responsive
      table.table.table-sm.compact
        thead
          tr
            th.text-nowrap(scope='col') Commit
            th(scope='col') Package
            th(scope='col') Version
            th(scope='col') Maintainer
            if universe == 'ropensci'
              th#thdocs(scope='col') Docs
            th(scope='col') Src
            th.text-nowrap(scope='col') Binaries
            th#rebuild.text-nowrap(scope='col')
            th.d-none.d-xl-table-cell.text-nowrap(scope='col') Build
        tbody#packages-table-body
          each row in pkgdata
            tr
              td.text-nowrap #{format_date(row._commit.time*1000)}
              td
                if row._user === universe && row._owner === universe
                  a(href=`/${row.Package}`) #{row.Package}
                else if row._user === universe
                  a(href=`/${row.Package}`) #{row._owner}/#{row.Package}
                else
                  a(href=`https://${row._user}.r-universe.dev/${row.Package}`) #{row._user}/#{row.Package}
                if row._registered === false
                  small.fw-medium.ms-1 (via remote)
                if row.OS_type
                  small.fw-medium.ms-1 (#{row.OS_type} only)
                if row._failure
                  a(href=row._failure.buildurl)
                    small.fw-bold.ms-1.text-danger (build failure)
              td
                a.text-dark(href=`${row._upstream}/commit/${row._commit.id}` target='_blank') #{row.Version}
              td
                if row._maintainer.login
                  a.text-secondary(href=`https://${row._maintainer.login}.r-universe.dev`) #{row._maintainer.name}
                else
                  span.text-secondary #{row._maintainer.name}
              if universe == 'ropensci'
                td
                  if row._pkgdocs == 'skipped'
                    span.ms-1 –
                  else if row._pkgdocs && row._pkgdocs.match(/succ/i)
                    a.ms-1(href=`https://docs.ropensci.org/${row.Package}` target='_blank')
                      i.fa.fa-book.color_ok
                  else
                    a.ms-1(href=row._buildurl target='_blank')
                      i.fa.fa-book.color_bad
              td src
              td bin
              td rebuild
              td build
