doctype html
html
  head
    if title
      title #{title}
    else
      title.default-fallback-title R packages by #{universe}
    meta(charset='utf-8')
    if _indexed === false
      meta(name="robots" content="noindex")
      if _indexurl
        link(rel="canonical" href=_indexurl)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='alternate' type='application/rss+xml' href='/feed.xml')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.min.css')
    block after_head
    style
      include layout.css
  body
    header.mb-3.border-bottom.bg-body-tertiary
      .container(style='max-width: 1440px')
        .dropdown.float-end.py-2.my-2
          a.d-block.link-body-emphasis.text-decoration-none.dropdown-toggle(href='#' data-bs-toggle='dropdown' data-title='About R-universe' data-intro='What the project is, our documentation, etc.' data-step=1005)
            img#mainlogo(src='https://r-universe.dev/static/logo-big.svg', width=110)
          ul.dropdown-menu.text-small
            li
              a.dropdown-item(href='https://ropensci.org/r-universe/') About
            li
              a.dropdown-item(href='https://docs.r-universe.dev/') Documentation
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='https://r-universe.dev/organizations/') Organizations
            li
              a.dropdown-item(href='https://r-universe.dev/maintainers/') Maintainers
            li
              a.dropdown-item(href='https://r-universe.dev/sysdeps/') System Libraries

        nav.navbar.navbar-expand-sm
          a.navbar-toggler.float-start(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
            img.rounded.me-2(src=`https://r-universe.dev/avatars/${universe}.png?size=40` style="height:40px;")
            span.navbar-brand.mx-1 #{universe}
          .collapse.navbar-collapse.py-2.float-start#navbarNav
            ul.navbar-nav.me-lg-auto.mb-0.justify-content-center(data-title='Tabs to other content in this universe' data-intro='<ul><li>Builds: recent updates</li><li>Packages: other packages</li><li>Articles: all vignettes</li><li>Datasets: all datasets</li><li>Contribution: people doing the work</li><li>API: programmatic endpoints</li><li>Feed: RSS update</li></ul>' data-step=1003)
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href='/builds') Builds
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href='/packages') Packages
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href='/articles') Articles
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href='/datasets') Datasets
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href='/contributors') Contribution
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href='/badges') Badges
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href='/apis') API
              li.nav-item
                a.nav-link.px-2.link-body-emphasis(href=`https://${universe}.r-universe.dev/feed.xml` target='_blank') Feed
            
            if _enable_tour
              a.btn.btn-sm.btn-outline-primary.d-xl-flex.mx-auto(role='button' href='javascript:introJs().setOptions({showProgress: true,showBullets: false}).start();', data-title='Welcome!' data-intro='An interactive tour of R-universe! Press ENTER or next to proceed.') &#x2728; Website Tour!

            form#searchform.d-none.d-lg-flex.input-group.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-4(role='search', data-intro='Search through all packages, articles and datasets in this and other universes!' data-title='Search bar' data-step=1004)
              input.form-control(type='search' placeholder=`universe:${universe} .....`)
              button.btn.btn-outline-secondary(type='submit') Search


    script
      include navbar.js
    #content-container.container(style='max-width: 1440px')
      .row.el-element-overlay
        nav.col-xl-auto.d-none.d-xl-block
          div(style='width:280px;')
            .sidebar-metadata(data-position="right" data-title='Owner information' data-intro='Some info and links from the universe that hosts this package' data-step=1001)
              a(href='/')
                img#github-user-avatar.rounded.card-img-top.p-3(src=`https://r-universe.dev/avatars/${universe}.png?size=248` style='min-height: 262px;' class=`${_universe_type === 'organization' ? '' : 'rounded-circle'}`)
              .card-body
                h5.card-title
                  span#github-user-name #{_universe_name}
                  a#github-user-mastodon.float-end.d-none.grow-on-over(target='_blank')
                    span.fa-brands.fa-mastodon.fa-fw.me-1(style="color: #6364FF;")
                  a#github-user-twitter.float-end.d-none.grow-on-over(target='_blank')
                    span.fa-brands.fa-square-x-twitter.fa-fw.me-1
                  a#github-user-orcid.float-end.d-none.grow-on-over(target='_blank')
                    span.fa-brands.fa-orcid.fa-fw.me-1.text-success
                p#github-user-bio.card-text #{_universe_bio}
              ul.list-group.list-group-flush.pb-2.sidebar-user-details
                li#github-user-universe-row.list-group-item.border-light-subtle.text-truncate
                  span.fa.fa-satellite-dish.fa-fw.me-3
                  span#github-user-universe
                  span#registry-status-spinner.spinner-border.spinner-border-sm(role='status')
                  a#registry-status-link.ms-1(target='_blank')
                    i#registry-status-icon.fa
                li#github-user-company.d-none.list-group-item.border-light-subtle.text-truncate
                  span.fa.fa-building.fa-fw.me-3
                  span.content
                li#github-user-location.d-none.list-group-item.border-light-subtle.text-truncate
                  span.fa.fa-map-marker-alt.fa-fw.me-3
                  span.content
                li#github-user-blog.d-none.list-group-item.border-light-subtle.text-truncate
                  span.fa.fa-home.fa-fw.me-3
                  span.content
                li#github-user-emails.d-none.list-group-item.border-light-subtle.text-nowrap
                  span.fa.fa-envelope.fa-fw.me-3.d-inline-flex
                  span.content.d-inline-flex
                li#github-user-packages.list-group-item.border-light-subtle
                  span.fa.fa-box-open.fa-fw.me-3.d-inline-flex
                  a.nav-link.content.d-inline-flex.text-dark(href='/packages')
                li#github-user-articles.list-group-item.border-light-subtle
                  span.fa.fa-file-alt.fa-fw.me-3.d-inline-flex
                  a.nav-link.content.d-inline-flex.text-dark(href='/articles')
                li#github-user-datasets.list-group-item.border-light-subtle
                  span.fa.fa-database.fa-fw.me-3.d-inline-flex
                  a.nav-link.content.d-inline-flex.text-dark(href='/datasets')
                li#github-user-contributors.list-group-item.border-light-subtle
                  span.fa.fa-user-astronaut.fa-fw.me-3.d-inline-flex
                  a.nav-link.content.d-inline-flex.text-dark(href='/contributors')
                li#github-user-followers.d-none.list-group-item.border-light-subtle
                  span.fa.fa-user-friends.fa-fw.me-3.d-inline-flex
                  span.content.d-inline-flex
            .card.my-3.maintainer-list-panel.border-dark-subtle
              .card-header.d-flex.w-100.justify-content-between
                .text-truncate.py-1
                  span.fa.fa-user-astronaut.fa-fw.me-3
                  | Links to
                  span.ps-1.title-universe-name #{universe}
                a.text-muted.py-1(data-bs-toggle='collapse' href='#maintainer-list' role='button')
                  span.fa.collapse-icon
              #maintainer-list.collapse.show.list-group.list-group-flush
        main.col.mx-sm-2
          block content
    #templatezone.d-none
      a.maintainer-item.list-group-item.list-group-item-action.border-light.text-truncate.p-0(href='#')
        .row.g-0
          .col-md-3.maintainer-link
            img.rounded.maintainer-avatar.card-img(src='https://r-universe.dev/static/nobody.jpg' loading="lazy")
          .col-md-9.my-2
            .card-body
              p.card-text.maintainer-name

      li.revdep-item.list-group-item.border-light.p-1
        .row.align-items-center
          a.col-auto.revdep-user-link
            img.rounded.revdep-user-avatar.card-img(src='https://r-universe.dev/static/nobody.jpg' style='width: 60px;' loading="lazy")
          .col.revdep-user-packages

    script
      | window.universe="#{universe}"
    block before_scripts
    include includes/default-scripts.pug
    script
      include sidebar.js
    block after_scripts