extends layout

block content
  .row#package-card-container(data-masonry='{"percentPosition":true}')
    each x,i in pkgdata
      if x._registered !== false && x._type !== 'failure'
        .col-lg-6.package-card-col(class=(i > 20 && 'd-none'))
          .card.mt-4.package-description-card
            .card-body
              if x._pkglogo
                img.package-details-logo.img-fluid.me-3.float-start(src=x._pkglogo loading="lazy" style='max-height: 80px; max-width: 80px;')
              - var prefix = x._user == universe ? "" : `https://${x._user}.r-universe.dev`
              a.text-decoration-none.text-reset(href=`${prefix}/${x.Package}`)
                if x._user != universe
                  i.float-end.text-secondary.cross-universe-icon.mx-1.fas.fa-external-link-alt
                h2.h5.pb-1
                  span.text-dark #{x.Package}
                  small.text-secondary  - #{x.Title}
                p.card-text.fst-italic #{x.Description}
              p.card-text.pt-2
                small.text-muted.description-last-updated Last updated #{format_time_since(x._commit.time)}
                if x._topics
                  p.card-text
                    each topic in x._topics
                      span.badge.badge-topic.me-1 #{topic}
              if x._score
                span.text-muted.badge.badge-light.p-1.border.me-1
                  i.fas.fa-chart-line.text-primary
                  |  #{x._score.toFixed(2)} score
              if x._stars
                span.text-muted.badge.badge-light.p-1.border.me-1
                  i.fas.fa-star.text-warning
                  |  #{format_count(x._stars)} stars
              if x._usedby
                span.text-muted.badge.badge-light.p-1.border.me-1
                  i.fas.fa-cubes.text-success
                  |  #{format_count(x._usedby)} packages
              if x._searchresults
                span.text-muted.badge.badge-light.p-1.border.me-1
                  i.fa-solid.fa-code.text-danger
                  |  #{format_count(x._searchresults)} scripts
              if x._downloads && x._downloads.count > 0
                span.text-muted.badge.badge-light.p-1.border.me-1
                  i.fas.fa-download.text-success-emphasis
                  |  #{format_count(x._downloads.count)} downloads

    .col-12.scrollbottom#scrollbottom1(style="height:500px")
    .col-12.scrollbottom#scrollbottom2(style="height:1000px")

block after_scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js')
  script
    include packages.js