extends layout

block content
  include includes/dupe-alert.pug

  .row.card.details-card(data-position="left" data-scroll-to="tooltip" data-title="Package overview" data-intro="Here we find all information and content from this package...")
    h1.h5.card-header.text-center Package: #{Package} #{Version}
      .float-end
        a.ms-2.upstream-git-link.text-decoration-none.ms-1(target='_blank' href=_upstream)
          i.fa-solid.fa-code-branch.text-dark.grow-on-over(data-bs-toggle="tooltip" data-bs-title=`Upstream git source`)
        a.ms-2.package-json-link.text-decoration-none(target='_blank' href=`/api/packages/${Package}` data-title="JSON API", data-intro="All data shown on this page is also available as a JSON API!")
          i.fa-solid.fa-plug.text-dark.grow-on-over(data-bs-toggle="tooltip" data-bs-title=`This page as API`)
    .card-body.col-12
      if _pkglogo
        img.d-none.d-sm-block.package-details-logo.img-fluid.me-4.float-start(src=_pkglogo style='max-height: 140px; max-width: 200px;')
      .float-end.package-details-maintainer.text-center.ms-4
        if _user !== _maintainer.login
          if _maintainer.login
            a.text-decoration-none(href=`https://${_maintainer.login}.r-universe.dev`)
              img.mb-2(src=avatar_url(_maintainer.uuid || _maintainer.login, 140) style='max-height: 120px; border-radius: 50%;')
          else
            img.rounded-circle.img.mb-2(src='https://r-universe.dev/static/nobody.jpg' style='max-height: 120px;')
          p
            span.card-text.text-secondary.maintainer-name #{_maintainer.name}
      div(data-title="Descriptives" data-intro="Title, description, and authors from the package DESCRIPTION file.")
        h2.h5.card-title
          span.package-details-name.text-dark #{Package}:
          small.text-secondary.package-details-title  #{Title}
        p.card-text.package-details-description.fst-italic !{description_to_html(Description)}
        p
          | Authors:
          span.card-text.text-dark.package-details-author.ms-1 #{Author}
      p.d-sm-table.overflow-x-invisible(data-title='Downloads and links' data-intro='We provide binaries for all platforms, rendered documentation, and lots of other data.')
        a.fa.fa-file-code.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
        a.package-details-source(href=`/src/contrib/${Package}_${Version}.tar.gz`) #{Package}_#{Version}.tar.gz
        br
        if _user !== 'cran'
          span.winmac-binaries
            a.fab.fa-windows.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
            span.package-details-windows
              each bin in _grouped.win
                a(href = bin.url) #{bin.filename}
                span.px-1 (#{bin.repo})
            br
            a.fab.fa-apple.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
            span.package-details-macos
              each bin in _grouped.mac
                a(href = bin.url) #{bin.filename}
                span.px-1 (#{bin.repo})
            br
        a.fab.fa-linux.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
        span.package-details-linux
          each bin in _grouped.linux
            a(href = bin.url) #{bin.filename}
            span.px-1 (#{bin.repo})
        a.text-dark.linux-binary-help(target='_blank' href='https://docs.r-universe.dev/install/binaries.html')
          i.far.fa-question-circle
        br
        if _grouped.wasm.length
          span.wasm-binaries
            a.fab.fa-chrome.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px')
            span.package-details-wasm
              each bin in _grouped.wasm
                a(href = bin.url) #{bin.filename}
                span.px-1 (#{bin.repo})
            a.text-dark.wasm-binary-help(target='_blank' href='https://docs.r-universe.dev/install/binaries.html')
              i.far.fa-question-circle
            br
        if _assets.includes("manual.pdf")
          a.fas.fa-file-pdf.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
          a.package-details-manual.pe-1(target='_blank' href=`/${Package}/${Package}.pdf`) #{Package}.pdf
        |  |
        a.px-1.package-details-htmlmanual(target='_blank' href=`/${Package}/doc/manual.html`) #{Package}.html
        | &#x2728;
        br
        a.fa.fa-plug.text-dark.text-decoration-none.grow-on-over(style='width: 20px')
        a.package-details-json(href=`/api/packages/${Package}`) #{Package}/json
        |  (API)
        br
        if _assets.includes("extra/NEWS.html")
          span.details-news
            a.fas.fa-file-alt.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
            a.package-details-news(target='_blank' href=`/${Package}/NEWS`) NEWS
            br

      #install.row.card.m-0.mb-3.py-1.d-none.d-md-block
        // <link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-c77408be8058.css">
        link(rel='stylesheet' href='https://r-universe.dev/static/gist-embed.css')
        .gist.ps-0(data-title='How to install the package' data-intro='You can copy this into your R session or your package README.')
          button#copy-code-button.float-end.btn.btn-outline-dark.far.fa-copy.p-2.m-1(type='button')
          table
            tbody
              tr
                td.blob-code.blob-code-inner.js-file-line
                  span.pl-c #
                  |  Install
                  span.package-details-gist-name  '#{Package}'
                  |  in R:
              tr
                td#file-install-r-LC2.blob-code.blob-code-inner.js-file-line
                  | install.packages(
                  span.pl-s
                    span.pl-pds &apos;
                    span.package-details-gist-name #{Package}
                    span.pl-pds &apos;
                  | ,
                  span.pl-v  repos
                  span.pl-k  =
                  span.nocran
                    |  c(
                    span.pl-s
                      span.pl-pds &apos;
                      span.universe-vhost-url https://#{vhost || `${universe}.r-universe.dev`}
                      span.pl-pds &apos;
                    | ,
                  span.pl-s
                    |
                    span.pl-pds  &apos;
                    | https://cloud.r-project.org
                    span.pl-pds &apos;
                  | )
                  span.nocran )

      if _failure
        p.build-failure-alert.alert.alert-danger(role='alert')
          | The latest version of this package failed to build. Look at the
          a.build-failure-url.ms-1(href=`${_failure.buildurl}/job/${_failure.job ? _failure.job.job : '..'}` target='_blank') build logs
          |  for more information.
      if _reviewdata
        p.package-details-peerreview.mb-2
          | Reviews:
          u
            a.peerreview-link.text-dark.mx-1(target='_blank' href=_reviewdata.url) #{_reviewdata.organization} ##{_reviewdata.id}
          if _reviewdata.status === 'reviewed'
            i.fa.fa-check.text-success(data-bs-toggle="tooltip" data-bs-title=`This package has been approved by the ${_reviewdata.organization} community`)
          else
            b (#{_reviewdata.status})

      if _bugtracker
        p.mb-2.package-details-issues(data-title='Upstream issue tracker' data-intro='Where to interact with developers of this package.')
          | Bug tracker:
          u
            a.ms-1.card-text.text-dark(target='_blank' href=_bugtracker) #{_bugtracker}
          span.open-issues-count.badge.text-bg-warning.ms-1
      if _pkgdown
        p.mb-2.package-details-pkgdown
          | Pkgdown site:
          u
            a.ms-1.card-text.text-dark(target='_blank' href=_pkgdown) https://#{url.parse(_pkgdown).hostname}
      if _sysdeps
        .system-library-row(data-title="System libraries" data-intro="External C/C++/Fortran system libraries that this package links to. On Linux you may need to install these separately.")
          span.float-start Uses libs:
          ul.system-library-list.list-unstyled.d-table.ps-1.mb-2
            each library in _sysdeps
              li
                b #{library.name}
                i.mx-1 – #{library.description}
                if library.homepage
                  a(target='_blank' href=library.homepage)
                    sup.fas.fa-external-link-alt
      if _datasets
        .dataset-row(data-position="left" data-scroll-to="tooltip" data-title="Package datasets", data-intro='Datasets in this package. Click on the &#x2B07; icons to show more information or download data as csv, xlsx, or json.')
          span.float-start Datasets:
          ul.dataset-list.list-unstyled.d-table.ps-1.mb-2
            each data in _datasets
              li
                a.fw-bold.text-dark(target='_blank' href=data.help) #{data.name}
                i  - #{data.title}
                if data.url
                  a.dataset-download.mx-1(href=data.url data-name=data.name data-title=data.title data-type=data.type data-help=data.help data-table=data.table data-tojson=data.tojson data-df=data.df)
                    small.fas.fa-download
      p.package-details-release.mb-2
        if _bioc
          span On BioConductor:
            each rls in _bioc
              u.ms-1
                a.text-dark(href=`https://bioconductor.org/packages/${rls.branch}/bioc/html/${Package}.html`) #{Package}-#{rls.version}
              span.ms-1.text-muted (bioc #{rls.bioc})
        else
          span.release-title On CRAN:
          u
            a.mx-1.release-version.text-dark
          span.release-date.text-black-50
          span.release-comment

          p.d-none.conda-forge Conda:
            u
              a.mx-1.conda-version.text-dark
            span.conda-date.text-black-50
            small
              a.text-decoration-none.fa-solid.fa-hammer.text-success(target='_blank' href=`https://github.com/conda-forge/r-${Package}-feedstock`)

      if ! _bugtracker
        p.mb-2.package-details-notracker.text-danger
          i
            | This package does not link to any Github/Gitlab/R-forge repository. No issue tracker or development information is available.
      if _topics
        p.card-text.package-details-topics.clearfix(data-title='Tags and topics' data-intro='Click to find other packages with this tag.')
          each topic in _topics
            a.badge.badge-topic.me-1(href=`https://r-universe.dev/search?q=topic%3A${topic}`) #{topic}
      p.metric-icons(data-title='Popularity Metrics' data-intro='Some stats on how much this package is used. These numbers are also used for ranking results in our search engine.')
        if _score
          a.text-muted.badge.text-bg-light.p-1.me-1.border(target='_blank' href='https://docs.r-universe.dev/browse/search.html#rank')
            i.fas.fa-chart-line.text-primary
            |  #{_score.toFixed(2)} score
        if _stars
          a.text-muted.badge.text-bg-light.p-1.me-1.border(target='_blank' href=`${_upstream}/stargazers`)
            i.fas.fa-star.text-warning
            |  #{format_count(_stars)} stars
        if _usedby
          a.text-muted.badge.text-bg-light.p-1.me-1.border(href=`https://r-universe.dev/search/?q=needs:${Package}` data-title="Dependents" data-intro="Other packages that (indirectly) need this package to run.")
            i.fas.fa-cubes.text-success
            |  #{format_count(_usedby)} packages
        if _searchresults
          a.text-muted.badge.text-bg-light.p-1.me-1.border(target='_blank' href=`https://github.com/search?q=library%28${Package}%29&type=code` data-title='Usage in scripts' data-intro='R scripts on GitHub that use this package.')
            i.fa-solid.fa-code
            |  #{format_count(_searchresults)} scripts
        if _downloads && _downloads.count > 0
          a.text-muted.badge.text-bg-light.p-1.me-1.border(target='_blank' href=_downloads.source data-title="Download statistics" data-intro="Montly downloads on CRAN and BioConductor.")
            i.fas.fa-download.text-success-emphasis
            |  #{format_count(_downloads.count)} downloads
        if _mentions
          a.text-muted.badge.text-bg-light.p-1.me-1.border(target='_blank' href=`https://papers.ecosyste.ms/projects/${_owner == 'bioc' ? 'bioconductor' : 'cran'}/${Package}`)
            i.fa-solid.fa-flask.text-primary
            |  #{format_count(_mentions)} mentions
        if _exports
          a.text-muted.badge.text-bg-light.p-1.me-1.border(data-bs-toggle='collapse' href='#exportlist')
            i.fas.fa-shapes.text-dark
            |  #{_exports.length} exports
        if _rundeps
          a.text-muted.badge.text-bg-light.p-1.me-1.border(data-bs-toggle='collapse' href='#dependslist')
            i.fas.fa-cube.text-danger
            |  #{_rundeps.length} dependencies

      p#status.mb2.text-secondary.small(data-title="Build and check status" data-intro="Latest commit and check results. Click to expand on check logs for this build.")
          span.package-details-updated Last updated
            span.ms-1.package-show-difftime(data-timestamp=`${new Date(_commit.time * 1000).toISOString()}`)
          |  from:
          a.ms-1.package-details-sha.link-underline-dark.text-primary-subtle.fw-bold(target='_blank' href=`${_upstream}/commit/${_commit.id}`) #{_commit.id.substring(0,10)}
          if RemoteRef && RemoteRef !== "HEAD" && !RemoteRef.match(/^[a-f0-9]{40}/i)
            span.package-details-remoteref  (on
              a(target='_blank' href=`${_upstream}/tree/${RemoteRef}`)  #{RemoteRef}
              | )

          | . Checks:
          if _checksummary.match(/(ERROR|FAIL)/)
            a.ms-1.link-underline-dark.text-danger.fw-bold(data-bs-toggle='collapse' href='#checktable') #{_checksummary}
          else if _checksummary.includes('WARNING')
            a.ms-1.link-underline-dark.text-warning.fw-bold(data-bs-toggle='collapse' href='#checktable') #{_checksummary}
          else
            a.ms-1.link-underline-dark.text-success.fw-bold(data-bs-toggle='collapse' href='#checktable') #{_checksummary}
          | . Indexed: #{_indexed ? 'yes' : 'no'}.
      table#checktable.noanim.collapse.table.table-sm.table-bordered.border-primary-subtle.table-hover(style="max-width: 400px")
        thead
          tr
            th Target
            th Result
            th Total time
            th Artifact
        tbody
          each job in _checks
            tr
              td #{job.name}
              td
                a(target="_blank" href=`${_buildurl}/job/${job.job || '..'}`)
                  b(class=job.color) #{job.check}
              td.text-secondary #{job.time}
              td
                if job.artifact
                  a(target="_blank" href=`${_buildurl}/artifacts/${job.artifact}`)
                    i.fas.fa-download

      if _exports
        p#exportlist.card-text.clearfix.noanim.collapse
          b Exports:
          span.labels
            each object in _exports
              a.badge.text-bg-secondary.ms-1(href=`https://r-universe.dev/search?q=exports:${object}`) #{object}
      if _rundeps
        p#dependslist.card-text.clearfix.noanim.collapse
          b Dependencies:
          span.labels
            each dep in _rundeps
              a.badge.text-bg-danger.rounded-pill.ms-1(href=`https://cran.dev/${dep}`) #{dep}
    .package-details-article-list.list-group.pe-0(data-position="left" data-title="Articles (vignettes)" data-intro="If the package has any vignettes, rendered articles are linked here.")
      if _status === 'failure'
        .vignette-failure-alert.alert.alert-warning.m-0(role='alert')
          | Vignettes and/or manual for this package failed to build, some documents may be unavailable. Please inspect the
          a.ms-1.vignette-failure-url(target='_blank' href=`${_buildurl}/job/${_srcjob.job || '..'}`) build logs
          |  for more information.
      if _vignettes
        each article in _vignettes
          if article.filename.endsWith('.html')
            - var article_url = `/articles/${Package}/${article.filename}`
          else
            - var article_url = `/${Package}/doc/${article.filename}`
          a.package-details-article.list-group-item.list-group-item-action.border-0.pb-1(href=article_url)
            .d-flex.w-100.justify-content-between
              div.text-dark-emphasis
                h2.h5.mb-1
                  small
                    i.fas.fa-book.me-2
                    span.article-title #{article.title}
                p.mb-1.package-details-article-author #{article.author}
                small.text-muted
                  | Rendered from
                  code.mx-1.detail-article-source #{article.source}
                  | using
                  code.mx-1.detail-article-engine #{article.engine}
                  span.detail-article-build on #{_created}.
              p.text-end.d-none.d-sm-block
                small.text-muted.article-modified.text-nowrap Last update: #{(article.modified || "??").substring(0, 10)}
                br
                small.text-muted.article-created.text-nowrap Started: #{(article.created || "??").substring(0, 10)}

  if _assets.includes("extra/citation.html")
    #citation.package-details-citation.row.card.mt-4(data-position="left" data-title='Preferred citation' data-intro='How to cite this package, as indicated by the authors in the CITATION file (if available)')
      h2.h5.card-title.card-header.text-center
        a.text-dark.plink.mb-0(href='#citation') Citation
        .float-end(data-title='Other cite formats' data-intro='APIs to get this same citation info in JSON, CFF or BibTeX format')
          a.text-decoration-none.ms-1(target='_blank' href=`/${Package}/citation.txt` data-bs-toggle="tooltip" data-bs-title="Raw citation text")
            i.fa-regular.fa-file-lines.text-dark.grow-on-over
          a.text-decoration-none.ms-1(target='_blank' href=`/${Package}/citation.json` data-bs-toggle="tooltip" data-bs-title="Citation JSON API")
            i.fa-brands.fa-square-js.text-dark.grow-on-over
          a.citation-link.text-decoration-none(target='_blank' href=`/${Package}/citation.cff` data-bs-toggle="tooltip" data-bs-title="Citation CFF API")
            img.grow-on-over.img-rounded(src='https://r-universe.dev/avatars/citation-file-format.png?size=50' style='width: 25px; margin-top:-4px;')
      .package-citation-content.card-body

  if _owner != 'cran'
    #development.row.card.mt-4(data-position="left" data-title='Development activity' data-intro='Commits in the past year and contributors to this project')
      a.plink.card-title.card-header.text-center.text-dark(href='#development' )
        h2.h5.mb-0 Development and contributors
      .card-body.col-12
        .p-0.d-none.d-md-block
          canvas#package-updates-canvas(height='300')
        if _contributors
          .package-details-contributors.text-center
            each x in _contributors
              a.me-1.package-details-contributor.text-decoration-none(href=x.href)
                img.package-contributor-img.img-fluid.p-1.shadow-lg(loading="lazy" data-count=x.count data-login=x.user style='width: 80px; border-radius: 50%;' src=avatar_url(x.uuid || x.user, 160))

  #readme.package-details-readme.row.card.mt-4(data-scroll-to="tooltip" data-position="left" data-title='Documentation' data-intro='Rendered documentation from the README and help pages.')
    a.plink.card-title.card-header.text-center.text-dark(href='#readme')
      h2.h5.mb-0 Readme and manuals
    .card-body
      if _assets.includes("extra/readme.html") || _assets.includes("readme.html")
        .package-readme-content
      if _help
        div(data-position="left" data-scroll-to="tooltip" data-title="Manual pages" data-intro="Links to help pages from the package reference manual")
          a#manual.plink(href='#manual')
            h3.h4.text-dark Help Manual
          table.col-12.table.table-sm.table-hover.manpages-table
            thead
              tr
                th Help page
                th Topics
            tbody
              each page in _help
                tr
                  - var name = page.page.replace(/\.html$/, "");
                  td
                    a(target='_blank' href=`/${Package}/doc/manual.html#${name}`) #{page.title || name}
                  td
                    | #{Array.isArray(page.topics) && page.topics.join(" ")}

  #users.row.card.mt-4(data-position="left" data-scroll-to="tooltip" data-title='Dependents' data-intro='Organizations and maintainers who import this package. This can be another indication of the package trustworthyness.')
    a.plink.card-title.card-header.text-center.text-dark(href='#users')
      h2.h5.mb-0 Usage by other packages (reverse dependencies)
    ul.list-group.list-group-flush.package-details-revdeps

  #download-data-modal.modal.fade
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5.modal-title
          button.btn-close(type='button' data-bs-dismiss='modal')
        .modal-body
        .modal-footer
          span.me-auto.export-type
          a.btn.btn-outline-primary.export-csv(target='_blank' type='button')
            i.fas.fa-download
            |  csv
          a.btn.btn-outline-primary.export-xlsx(target='_blank' type='button')
            i.fas.fa-download
            |  xlsx
          a.btn.btn-outline-primary.export-json(target='_blank' type='button')
            i.fas.fa-download
            |  json
          a.btn.btn-outline-primary.export-ndjson(target='_blank' type='button')
            i.fas.fa-download
            |  ndjson
          a.btn.btn-outline-primary.export-rda(target='_blank' type='button')
            i.fas.fa-download
            |  rda
          a.btn.btn-outline-primary.export-rds(target='_blank' type='button')
            i.fas.fa-download
            |  rds


block after_head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css')
  link(rel='stylesheet' type='text/css' href='https://r-universe.dev/static/prism.css')
  link(rel='stylesheet' type='text/css' href='https://r-universe.dev/static/manual.css')

block before_scripts
  script
    | window.pkginfo=!{JSON.stringify({package: Package, bugtracker:_bugtracker, upstream:_upstream, releases: _releases, updates:_updates})}

block after_scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js')
  script
    include pkginfo.js
