extends layout

block content
  .row.card.details-card
    h1.h5.card-header.text-center #{Package} #{Version}
      span.package-details-header
      .float-end
        a.package-json-link.text-decoration-none(target='_blank' href=`/api/packages/${Package}`)
          i.fab.fa-js-square.text-dark.grow-on-over
        a.upstream-git-link.text-decoration-none.ms-1(target='_blank' href=_upstream)
          i.fab.fa-git-square.text-dark.grow-on-over
        a.citation-link.text-decoration-none(target='_blank' href=`/${Package}/citation.cff`)
          img.grow-on-over.img-rounded(src='https://r-universe.dev/avatars/citation-file-format.png?size=50' style='width: 25px; margin-top:-4px;')
    .card-body.col-12
      if _pkglogo
        img.package-details-logo.img-fluid.me-4.float-start(src=_pkglogo style='max-height: 140px; max-width: 200px;')
      .float-end.package-details-maintainer.text-center.ms-4
        if _user !== _maintainer.login
          if _maintainer.login
            a.text-decoration-none(href=`https://${_maintainer.login}.r-universe.dev`)
              img.img.mb-2(src=`https://r-universe.dev/avatars/${_maintainer.login}.png?size=140` style='max-height: 120px; border-radius: 50%;')
          else
            img.img.mb-2(src='https://r-universe.dev/static/nobody.jpg' style='max-height: 120px; border-radius: 50%;')
          p
            span.card-text.text-secondary.maintainer-name #{_maintainer.name}
      h2.h5.card-title
        span.package-details-name.text-dark #{Package}
        | : 
        small.text-secondary.package-details-title #{Title}
      p.card-text.package-details-description.fst-italic #{Description}
      p
        | Authors:
        span.card-text.text-dark.package-details-author #{Author}
      p.d-table
        a.fa.fa-file-code.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
        a.package-details-source(href=`/src/contrib/${Package}_${Version}.tar.gz`) #{Package}_#{Version}.tar.gz
        br
        if _user !== 'cran'
          span.winmac-binaries
            a.fab.fa-windows.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
            span.package-details-windows
              each bin in _grouped.win
                a(href = bin.url) #{bin.filename}
                span.px-1 (#{bin.repo})
            br
            a.fab.fa-apple.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
            span.package-details-macos
              each bin in _grouped.mac
                a(href = bin.url) #{bin.filename}
                span.px-1 (#{bin.repo})
            br
        a.fab.fa-linux.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
        span.package-details-linux
          each bin in _grouped.linux
            a(href = bin.url) #{bin.filename}
            span.px-1 (#{bin.repo})
        a.text-dark.linux-binary-help(target='_blank' href='https://github.com/r-universe-org/help#does-r-universe-have-linux-binaries')
          i.far.fa-question-circle
        br
        if _grouped.wasm.length
          span.wasm-binaries
            a.fab.fa-chrome.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px')
            span.package-details-wasm
              each bin in _grouped.wasm
                a(href = bin.url) #{bin.filename}
                span.px-1 (#{bin.repo})
            a.text-dark.wasm-binary-help(target='_blank' href='https://github.com/r-universe-org/help#how-to-use-webassembly-binaries')
              i.far.fa-question-circle
            br
        if _assets.includes("manual.pdf")
          a.fas.fa-file-pdf.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
          a.package-details-manual.pe-1(target='_blank' href=`/${Package}/${Package}.pdf`) #{Package}.pdf
        |  |
        a.px-1.package-details-htmlmanual(target='_blank' href=`/${Package}/doc/manual.html`) #{Package}.html
        | &#x2728;
        br
        a.fa.fa-file-code.text-dark.text-decoration-none.grow-on-over(style='width: 20px')
        a.package-details-json(href=`/api/packages/${Package}`) #{Package}/json
        |  (API)
        br
        if _assets.includes("extra/NEWS.html")
          span.details-news
            a.fas.fa-file-alt.package-details-logs.text-dark.text-decoration-none.grow-on-over(style='width: 20px' href=_buildurl)
            a.package-details-news(target='_blank' href=`/${Package}/NEWS`) NEWS
            br
      #install.row.card.m-0.mb-3.py-1.d-none.d-md-block
        // <link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-c77408be8058.css">
        link(rel='stylesheet' href='https://r-universe.dev/static/gist-embed.css')
        .gist.ps-0
          button#copy-code-button.float-end.btn.btn-outline-dark.far.fa-copy.p-2.m-1(type='button')
          table
            tbody
              tr
                td.blob-code.blob-code-inner.js-file-line
                  span.pl-c #
                  |  Install 
                  span.package-details-gist-name #{Package}
                  |  in R:
              tr
                td#file-install-r-LC2.blob-code.blob-code-inner.js-file-line
                  | install.packages(
                  span.pl-s
                    span.pl-pds &apos;
                    span.package-details-gist-name #{Package}
                    span.pl-pds &apos;
                  | , 
                  span.pl-v repos
                  span.pl-k  =
                  span.nocran
                    |  c(
                    span.pl-s
                      span.pl-pds &apos;
                      | https://
                      span.title-universe-name
                      | .r-universe.dev
                      span.pl-pds &apos;
                    | ,
                  span.pl-s
                    |
                    span.pl-pds  &apos;
                    | https://cloud.r-project.org
                    span.pl-pds &apos;
                  | )
                  span.nocran )
      if _failure
        p.build-failure-alert.alert.alert-danger(role='alert')
          | The latest version of this package failed to build. Look at the
          a.build-failure-url.ms-1(href=_failure.buildurl target='_blank') build logs
          |  for more information.
      p.package-details-peerreview.mb-2.d-none
        | Peer review:
        u
          a.peerreview-link.text-dark.mx-1(target='_blank' href='#')
        span.peerreview-status
      if _bugtracker
        p.mb-2.package-details-issues
          | Bug tracker:
          u
            a.ms-1.card-text.text-dark(target='_blank' href=_bugtracker) #{_bugtracker}
          span.open-issues-count.badge.text-bg-warning.ms-1
      if _sysdeps
        .system-library-row
          span.float-start Uses libs:
          ul.system-library-list.list-unstyled.d-table.ps-1.mb-2
            each library in _sysdeps
              li
                b #{library.name}
                i.mx-1 – #{library.description}
                if library.homepage
                  a(target='_blank' href=library.homepage)
                    sup.fas.fa-external-link-alt
      if _datasets
        .dataset-row
          span.float-start Datasets:
          ul.dataset-list.list-unstyled.d-table.ps-1.mb-2
            each data in _datasets
              li
                a.fw-bold.text-dark(target='_blank' href=data.help) #{data.name}
                i  - #{data.title}
                if data.url
                  a.dataset-download.mx-1(href=data.url data-name=data.name data-title=data.title data-type=data.type data-help=data.help data-table=data.table data-tojson=data.tojson data-df=data.df)
                    small.fas.fa-download
      p.package-details-release.mb-2
        if _bioc
          span On BioConductor:
            each rls in _bioc
              u.ms-1
                a.text-dark(href=`https://bioconductor.org/packages/${rls.branch}/bioc/html/${Package}.html`) #{Package}-#{rls.version}
              span.ms-1.text-muted (bioc #{rls.bioc})
        else if _user !== "cran"
          span.release-title On CRAN:
          u
            a.mx-1.release-version.text-dark
          span.release-date.text-black-50
      if ! _bugtracker
        p.mb-2.package-details-notracker.text-danger
          i
            | This package does not link to any Github/Gitlab/R-forge repository. No issue tracker or development information is available.
      if _topics
        p.card-text.package-details-topics.clearfix
          each topic in _topics
            a.badge.text-bg-primary.me-1(href=`https://r-universe.dev/search?q=${topic.includes("-") ? `"${topic}"` : encodeURIComponent(topic)}`) #{topic}
      p.metric-icons
        if _exports
          a.text-muted.badge.text-bg-light.package-details-exports.p-1.me-1.border(data-bs-toggle='collapse' href='#exportlist')
            i.fas.fa-shapes.text-dark
            |  #{_exports.length} exports
        if _stars
          a.text-muted.badge.text-bg-light.package-details-stars.p-1.me-1.border(target='_blank' href=`${_upstream}/stargazers`)
            i.fas.fa-star.text-warning
            |  #{_stars < 1000 ? _stars : (_stars/1000).toFixed(1) + 'k'} stars
        if _score
          a.text-muted.badge.text-bg-light.package-details-pkgscore.p-1.me-1.border(target='_blank' href='https://github.com/r-universe-org/help#how-is-the-package-rank-score-calculated')
            i.fas.fa-chart-line.text-primary
            |  #{Math.pow(_score-1, 2).toFixed(2)} score
        if _rundeps
          a.text-muted.badge.text-bg-light.package-details-dependencies.p-1.me-1.border(data-bs-toggle='collapse' href='#dependslist')
            i.fas.fa-cube.text-danger
            |  #{_rundeps.length} dependencies
        if _usedby
          a.text-muted.badge.text-bg-light.package-details-dependents.p-1.me-1.border(href=`https://r-universe.dev/search/?q=needs:${Package}`)
            i.fas.fa-cubes.text-success
            |  #{_usedby} dependents
      p.card-text
        small.text-muted
          span.last-build-status
            if _problems
              a.fa.fa-question-circle.text-danger(href=_buildurl data-summary=`Build/check failure for ${_problems.join(', ')}`)
            else
              a.fa.fa-check.text-success(href=_buildurl data-summary=`Articles and win/mac binaries OK`)
          span.mx-1.package-details-updated Last updated #{_lastupdate}
          | from:
          a.ms-1.package-details-sha.text-secondary(target='_blank' href=`${_upstream}/commit/${_commit.id}`) #{_commit.id}
          if RemoteRef && RemoteRef !== "HEAD"
            span.package-details-remoteref  (via #{RemoteRef})
      if _exports
        p#exportlist.card-text.clearfix.noanim.collapse
          b Exports:
          span.labels
            each object in _exports
              a.badge.text-bg-secondary.ms-1(href=`https://r-universe.dev/search?q=exports:${object}`) #{object}
      if _rundeps
        p#dependslist.card-text.clearfix.noanim.collapse
          b Dependencies:
          span.labels
            each dep in _rundeps
              a.badge.text-bg-danger.rounded-pill.ms-1(href=`https://r-universe.dev/search?q=package:${dep}`) #{dep}
    .package-details-article-list.list-group
      .vignette-failure-alert.alert.alert-warning.m-0.d-none(role='alert')
        | Articles and/or reference manual for this package failed to build, some documents may be unavailable. Please inspect the
        a.vignette-failure-url build logs
        |  for more information.


  #citation.package-details-citation.row.d-none.card.mt-4
    a.plink.h5.card-title.card-header.text-center.text-dark(href='#citation') Citation
    .package-citation-content.card-body
  #readme.package-details-readme.row.card.mt-4
    a.plink.h5.card-title.card-header.text-center.text-dark(href='#readme') Readme and manuals
    .card-body
      .package-readme-content
      a#reference.plink.h4.text-dark(href='#reference') Reference manual
      table.col-12.table.table-sm.table-hover.manpages-table
        thead
          tr
            th Help page
            th Topics
        tbody
  #development.row.card.mt-4
    a.plink.h5.card-title.card-header.text-center.text-dark(href='#development') Development and contributors
    .card-body.col-12
      .p-0
        canvas#package-updates-canvas.col.p-0(height='300')
      .package-details-contributors.text-center
  #users.row.card.mt-4
    a.plink.h5.card-title.card-header.text-center.text-dark(href='#users') Usage by other packages
    ul.list-group.list-group-flush.package-details-revdeps

  #download-data-modal.modal.fade
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5.modal-title
          button.btn-close(type='button' data-bs-dismiss='modal')
        .modal-body
        .modal-footer
          span.me-auto.export-type
          a.btn.btn-outline-primary.export-csv(target='_blank' type='button')
            i.fas.fa-download
            |  csv
          a.btn.btn-outline-primary.export-xlsx(target='_blank' type='button')
            i.fas.fa-download
            |  xlsx
          a.btn.btn-outline-primary.export-json(target='_blank' type='button')
            i.fas.fa-download
            |  json
          a.btn.btn-outline-primary.export-ndjson(target='_blank' type='button')
            i.fas.fa-download
            |  ndjson
          a.btn.btn-outline-primary.export-rda(target='_blank' type='button')
            i.fas.fa-download
            |  rda
          a.btn.btn-outline-primary.export-rds(target='_blank' type='button')
            i.fas.fa-download
            |  rds


block before_scripts
  script
    | window.package="#{Package}";
    | window.universe="#{_user}";
    | window.bugtracker="#{_bugtracker}"
    | window.upstream="#{_upstream}"

block after_scripts
  script(src='pkginfo.js')
