extends global

block content
  #content-container.container(style='max-width: 1440px')
    table.table.table-bordered
      thead
        tr
          th universe
          th packages
          th indexed
          th maintainers
          th type
          th name
          th updated
      tbody
        each x in repos
          tr
            td
              a(href=`https://${x.universe}.r-universe.dev`) #{x.universe}
            td #{x.packages}
            td #{x.indexed}
            td #{x.maintainers}
            td #{x.type}
            td #{x.name}
            td.text-nowrap #{format_yymmdd(x.updated*1000)}

block after_scripts
  script(src='https://cdn.datatables.net/2.1.3/js/dataTables.min.js')
  script(src="/repositories.js")
